<robot name="block">
  <link name="block_base_link">
 
    <inertial>
      <origin rpy="0 0 0" xyz="-0.054 0.018 0.015000"/>
      <mass value="0.05"/>
      <inertia ixx="1.226e-05" ixy="-2.88e-06" ixz="0.0" iyy="1.994e-05" iyz="0.0" izz="2.32e-05"/>
    </inertial>
    <collision>
      
      <geometry>
        <mesh filename="8.STL" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
 
      <geometry>
        <mesh filename="8.STL" scale="1 1 1"/>
      </geometry>
      <material name="tray_material">
        <color rgba="0.1 0.2 0.6 1"/>
      </material>
    </visual>
  </link>
</robot>
