<robot name="block">
  <link name="block_base_link">

    <inertial>
      <origin rpy="0 0 0" xyz="0.01075 0.00146 0.015"/>
      <mass value="0.05"/>
      <inertia ixx="0.000113776" ixy="5.366e-05" ixz="0.0" iyy="0.000113776" iyz="0.0" izz="0.000200832"/>
    </inertial>
    <collision>
      
      <geometry>
        <mesh filename="25.STL" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
 
      <geometry>
        <mesh filename="25.STL" scale="1 1 1"/>
      </geometry>
      <material name="tray_material">
        <color rgba="0.1 0.2 0.6 1"/>
      </material>
    </visual>
  </link>
</robot>
