<robot name="block">
  <link name="block_base_link">

    <inertial>
      <origin rpy="0 0 0" xyz="-0.01060 0.02452 0.015"/>
      <mass value="0.05"/>
      <inertia ixx="1.7585e-05" ixy="3.03e-07" ixz="0.0" iyy="2.9306e-05" iyz="0.0" izz="3.5339e-05"/>
    </inertial>
    <collision>
      
      <geometry>
        <mesh filename="26.STL" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
 
      <geometry>
        <mesh filename="26.STL" scale="1 1 1"/>
      </geometry>
      <material name="tray_material">
        <color rgba="0.1 0.2 0.6 1"/>
      </material>
    </visual>
  </link>
</robot>
